* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
header {
  background: #f55a5a;
  height: 55px;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
header h1 {
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}
